<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>관리자페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/commons/common.css">
    <link rel="stylesheet" href="/css/commons/admin-layout.css">
</head>
<header>
   	<h1>좌측메뉴</h1>
   	<div class="wrap">
   		<ul>
   			
   			<li>
   				<a href="/admin">관리자HOME</a>
   			</li>
   			<li>
   				<dl>
   					<dt>상품</dt>
   					<dd>
   						<a href="/admin/goods">상품등록</a>
   					</dd>
   				</dl>
   			</li>
   			<li>
   				<dl>
   					<dt>카테고리</dt>
   					<dd>
   						<a href="/admin/categorys">등록</a>
   					</dd>
   				</dl>
   			</li>
   			
   			<li>
   				<a href="/">SHPPING MALL</a>
   			</li>
   		</ul>
   	</div>
</header>
</html>