<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 th:replace="~{layout/comm-layout :: commLayout(~{this::head}, ~{::main})}">
<head>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<main>
	<h1>메인영역</h1>
	<div class="wrap view-size">
		<p>회원가입 페이지</p>
		<form action="/member/signup"  method="post">
			<ul>
				<li>
					<input type="text" name="email" placeholder="이메일를 입력하세요">
				</li>
				<li>
					<input type="password" name="pass" placeholder="비밀번호를 입력하세요">
				</li>
				<li>
					<input type="text" name="name" placeholder="이름을 입력하세요">
				</li>
				<li>
					<button>회원가입</button>
				</li>
			</ul>
		</form>
	</div>
</main>
</html>